﻿@model EscuelaNet.Presentacion.Clientes.Web.Models.UnidadSolicitudModel

<div class="row">
    <div class="col-md-8">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Solicitudes de la unidad "@Model.Unidad.RazonSocial" del cliente "@Model.Unidad.RazonSocialCliente"</h3>


                <label class="text-success">@TempData["success"]</label>
                <label class="text-danger">@TempData["error"]</label>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>

                            <th style="width: 10px">#</th>
                            <th>Titulo</th>
                            <th>Descripción</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>                       
                        
                        @foreach (var solicitud in Model.Solicitudes)
                        {
                    <tr>


                        <td>@solicitud.ID</td>
                        <td>@solicitud.Titulo</td>
                        <td>@solicitud.Descripcion</td>
                        <td>@solicitud.Estado</td>
                       
                        <td>
                            <a href="/Solicitudes/Edit/@solicitud.ID" title="Editar Solicitud" class="btn btn-toolbar">
                                <label class="label bg-gray"><i class="fa fa-edit"></i> Editar</label>
                            </a>

                            <a href="/Unidades/UnlinkSolicitud/@solicitud.ID?unidad=@Model.Unidad.ID" title="Desvincular Solicitud de la unidad" class="btn btn-toolbar">
                                <label class="label bg-gray"><i class="fa fa-remove"></i> Desvincular</label>
                            </a>
                        </td>

                    </tr>
                        }

                       
                        <tr>
                            <td colspan="6">
                                <a href="/Unidades/LinkSolicitud/@Model.Unidad.ID" title="Vincular nueva solicitud" class="btn btn-toolbar">
                                    <label class="label bg-gray"><i class="fa fa-plus"></i> Vincular Solicitud</label>
                                </a>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>
        <!-- /.box -->
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <!-- /.col -->
</div>

<div>
    @Html.ActionLink("Volver a Unidad", "../Unidades/Index/" + Model.Unidad.IdCliente)
</div>

@section Scripts{
    <script>
    </script>
}


